* {
  margin: 0;
  padding: 0;
}
.bg-secondary {
  background-color: #f3f5f9 !important;
}
.header {
  border-style: solid;
  border-width: 1px;
  border-color: #ececec;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header #primary_nav_wrap {
  margin-top: 15px;
}
.header #primary_nav_wrap ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
.header #primary_nav_wrap ul a {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  padding: 0 15px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header #primary_nav_wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
.header #primary_nav_wrap ul li.current-menu-item {
  background: #dddddd;
}
.header #primary_nav_wrap ul li:hover {
  background: azure;
}
.header .header_cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 100%;
}
.header .header_cart .btn_body {
  background-color: #fff51f;
  width: 124px;
  height: 49px;
  display: block;
}
.header .header_cart .btn_body .btn_inside {
  padding: 14px;
  line-height: 49px;
  text-align: center;
  font-size: 14px;
  font-family: "Raleway Black", sans-serif;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.tac {
  text-align: center;
  margin-top: 20px;
  line-height: 25px;
  font-size: 22px;
  font-family: "Raleway Black", sans-serif;
  text-transform: uppercase;
  color: #000;
}
.product {
  display: block;
  width: 263px;
  height: 364px;
  text-decoration: none;
  background-color: azure;
}
.hover-product:hover {
  background-color: #ffffff;
  box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.16);
}
.product img {
  width: 100%;
  height: 279px;
}
.product p {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.product span {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.product-text {
  padding: 20px 14px 10px;
}
.hover-product {
  width: 263px;
  height: 364px;
  position: relative;
  margin-bottom: 39px;
}
.hover-product:hover img {
  filter: brightness(50%);
}
.hover-product:hover .add-to-cart {
  display: inline;
}
.flex-center {
  position: absolute;
  top: 98px;
  left: 0;
  display: flex;
  width: 263px;
  justify-content: center;
}
.add-to-cart {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  padding: 14px;
  color: #fff;
  display: none;
  text-decoration: none;
}
.products {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 529px) {
  .products {
    justify-content: center;
  }
  .header #primary_nav_wrap ul ul li {
    width: 100px;
  }
}
